.auth-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.auth-container .aside {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    padding: 5rem;
    right: 0;
    width: 450px;
}

.auth-container .aside img{
    width: 200px;
}

.auth-container .aside .aside-form .aside-form-title {
    color: var(--color-form-title);
    font: 900 2.5rem Roboto;
    margin: 2rem 0;
}

.auth-container .aside .aside-form .password-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.auth-container .aside .aside-form .password-container .remember-password label,
.auth-container .aside .aside-form .password-container a {
    color: var(--color-password-description);
}

.auth-container .aside .aside-form .password-container a  {
    text-decoration: none;
}

.auth-container .aside .aside-form .password-container a:hover  {
    text-decoration: underline;
}

.auth-container .aside .aside-form .buttons-container button {
    cursor: pointer;
    font: 900 2rem Roboto;
    height: 6rem;
    outline: none;
    width: 100%;
}

.auth-container .aside .aside-form .buttons-container .button-primary {
    background: var(--color-secondary);
    border: none;
    color: var(--color-text-white);
    font: 900 2rem Roboto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.auth-container .aside .aside-form .buttons-container .button-secondary {
    background: transparent;
    border: .5rem solid var(--color-secondary);
    color: var(--color-secondary);
}