input {
  border: 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
  color: var(--color-input-text);
  font-size: 2rem;
  height: 6rem;
  margin: 1rem 0;
  outline: none;
  padding: 0 2rem;
  width: 100%;
}

input:disabled {
  opacity: .5;
  cursor: not-allowed;
}

input::placeholder {
  color: var(--color-input-placeholder);
}