:root {
    font-size: 60%;

    --color-primary: #FCB500;
    --color-primary-light: #F9DB3F;
    --color-secondary: #5BC0DE;
    --color-text-white: #FFFFFF;
    --color-input-text: #6D6D6D;
    --color-input-placeholder: #ACACAC;
    --color-form-title: #6D6D6D;
    --color-password-description: #ACACAC;
    --color-dark-grey-text: #6D6D6D;
    --color-light-grey-text: #DADADA;
    --color-light-grey: #F2F2F2;
    --color-dark-grey: #6D6D6D;
    --color-gold: #FBAF31;
    --color-dark-gold: #D8972B;
    --color-white: #FFFFFF;
    --color-silver: #B8B8B8;
    --color-dark-silver: #828282;
    --color-bronze: #EB7003;
    --color-dark-bronze: #C76107;
    --transition-speed: 600ms;
}

* {
    box-sizing: border-box;
    font: 400 1.6rem Roboto;
    margin: 0;
    padding: 0;
}

html, body #root {
    height: 100vh;
    width: 100vw;
}